%section#feeds
  %h4.section-title= t("blog.feeds")
  %ol.xoxo
    %li= link_to t("blog.feed.rss.link"), blog.feed_path(:format => :rss), :class => "rss"
    %li= link_to t("blog.feed.atom.link"), blog.feed_path(:format => :atom), :class => "atom"
