%section#feeds
  %h4.section-title= t("blog.feeds")
  %ol.xoxo
    %li= link_to t("blog.feed.rss.link"), rss_feed_url, :class => "rss"
    %li= link_to t("blog.feed.atom.link"), atom_feed_url, :class => "atom"
