.previous-and-next-post
  %ol.xoxo
    - if p = post.previous_post
      %li.previous-post= link_to_post(p, :rel => "prev")

    - if p = post.next_post
      %li.next-post= link_to_post(p, :rel => "next")
