%section.related-posts
  %header
    %h4.section-title= t("blog.related_posts.title")

  = render "blog/shared/post-list",
    :posts => post.related_posts(5)

  = adsense_block(:class => "adsense link-unit") do
    :plain
      <script>
      google_ad_client = "ca-pub-5288272203015721";
      google_ad_slot = "8517185260";
      google_ad_width = 200;
      google_ad_height = 90;
      </script>
