- show_count ||= false

%ol.xoxo.tags
  - tags.each do |tag|
    %li{:class => cycle("odd", "even")}
      = link_to_tag(tag) do
        %span.title= tag.name

        - if show_count
          %span.count= Blog::Post.published.tagged_with(tag).count
